.contenedor{
    font-size: 2rem;
    color: cadetblue;
    align-content: center;
}

body{
    background:  skyblue;
    width: 680px;
    height: 1024px;
}

.contenedor{
    font-size: 1.2rem;
    color: darkcyan ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-content: center;
}

footer{

}